




body {
  /* background-color: #f0f0f0; */
  font-size: 14px;
  color: #777777;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
}
h1,h2,h3,h4,h5,h6{
  padding: 10px 0;
  margin: 0;
}
p{
  display;inline
  padding: 10px 0;
  /* margin: 0px 30px 0px 50px; */
  text-align: center;
  color:#777777;
}
.header {
  font-size: :20px
  /*background-color: gray;*/
/*  height: 10px;*/

}
a{
}
footer {
  height: 50px;*/
  text-align: center;
}



.selectradio {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
 }
  .selectradio .selectradio-item {
    margin: 5px 0;
    padding: 0;
  }
  .selectradio input[type="radio"] {
    display: none;
  }
  .selectradio input[type="radio"]:checked + label {
    background: #C0E8FF;
    color: #333333;
    border: 2px solid #C0E8FF;
  }
  .selectradio .selectradio-label {
    display: block;
    width: 100%;
    height: 40px;
    text-align: center;
    /* margin:auto; */
    line-height: 45px;
    padding:0;
    cursor: pointer;
    color: #333333;
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 5px;
    background: #EEEEEE;4
    transition: 0.5s;
    border-radius: 4px;
  }

    .selectradio.selectradio-inline .selectradio-item {
    display: inline-block; }
    .selectradio.selectradio-inline .selectradio-label {
    display: inline-block;
    padding: 0;
    width: 100px;
  }




/*
.yorokobi{ß
float:left;
}
.yorokobi input{
display: none;

}

.yorokobi label{
display: block;
float: left;
cursor: pointer;
width:80px;
margin:0;
padding:12px 15px;
border-right: 1px solid #abb2b7;
background: #bdc3c7;
color:#555e64;
font-size:14px;
text-align: center;
line-height: 1;
transition: .2s;

}

.yorokobi label:first-of-type{
  border-radius: 3px 0 0 3px
}

.yorokobi label:last-of-type{
  border-right: 0px;
  border-radius: 0 3px 3px 0;
}

.yorokobi input[type="radio"]:checked + label{

  background-color: #a1b91d;
  color:#fff;
} */



a{
  /* color:	#A9A9A9;
  font-size: 30px;
  border:3px solid #A4C6FF;
  padding:20px;
  float:right;
  margin-right: 40px;
  margin-bottom: 20px; */

  display: inline-block;
  text-decoration: none;
  color: #A4C6FF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  border: double 4px #A4C6FF;
  margin:30px 600px;
  float:right;
  /* margin-right: 40px;
  margin-bottom: 100px; */
  text-align: center;
  overflow: hidden;
  transition: .6s;

}


a:hover {
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);


/* a{
  color:	#B384FF;
  font-size: 15px;
  border:3px solid #B384FF;
  padding:10px;
  float:right;
  margin-right: 40px;
  margin-bottom: 20px;

} */
